@charset "UTF-8";

@font-face {
    font-family: 'coffeetown';
    src: url('fontes/CoffeeTown.otf') format('opentype'),
         url('fontes/CoffeeTown.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

    
}

    @font-face {
        font-family: 'lemon';
        src: url('fontes/lemon.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
};

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100%;
}
body{
    background-image: url(imagens/cafe.jpg);
    margin: 0px;
    padding: 0px;
}

header h1{
    font-family: 'lemon';
    font-size: 5em;
    margin: 40px;
    color: rgb(252, 221, 184);
    text-align: center;
    text-shadow: 3px 3px rgb(0, 0, 0);
}
main{
    max-width:837px;
    text-align: center;
    margin: auto;
}

section {
    display: inline-block;
    max-width: 400px;
    background-color: rgb(252, 221, 184);
    border-radius: 10px;
    border-style: groove;
    border-color: black;
    padding-bottom: 10px;
}

#section1{
    margin: 5px;
}
#section2{
    margin: 5px;
    padding-top: 4px;
}

section > article{
    width: 100%;
}

article h2{
    font-family: 'lemon';
    text-align: center;
    padding-top: 0px;
}
#coffee::after{
    content: ' 'url(imagens/xicara-de-cafe30px.png)
}

#food::after{
    content: ' 'url(imagens/hamburguer25px.png)
}


article hr{
    margin: 10px 25px;
}

article > p{
    margin: 10px;
}

article .item{
    font-family: 'lemon';
    display: inline-block;
    text-align: left;
    width: 55%;
    margin: 0px 25px;
    
}

article > .preco{
    font-family: 'lemon';
    display: inline-block;
    text-align: right;
    width: 24%;

}

article .preco::before{
    content: 'R$';
}

footer{
    background-color: rgba(0, 0, 0, 0.596);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

footer > p{
    text-align: center;
    color: rgb(252, 221, 184);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin: 0px 0px 0px 0px;
    padding: 2px;
    text-shadow: 3px 3px 3px black;
}

footer > p > a{
    text-decoration: none;
    color: rgb(252, 221, 184);
    font-weight: bold;
}

footer > p > a:hover{
    text-decoration: underline;
}