@charset "UTF-8";

@font-face {
    font-family: 'coffeetown';
    src: url('fontes/CoffeeTown.otf') format('opentype'),
         url('fontes/CoffeeTown.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

    
}

    @font-face {
        font-family: 'lemon';
        src: url('fontes/lemon.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
};

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(imagens/cafe.jpg);
    max-width: 2560px;
    max-height: 1440px;
    margin: 0px;
}

header{
    max-height: 100px;
}

header h1{
    max-height: 100px;
    font-family: 'lemon';
    font-size: 5em;
    margin: 40px;
    color: rgb(252, 221, 184);
    text-align: center;
    text-shadow: 3px 3px rgb(0, 0, 0);
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;*/
}
main{
    max-width:860px;
    margin: auto;
}

section {
    display: inline-block;
    max-width: 400px;
    background-color: rgb(252, 221, 184);
    border-radius: 10px;
    border-style: groove;
    border-color: black;
    padding-bottom: 10px;
    margin: 0px 10px;
}


section h2{
    font-family: 'lemon';
    text-align: center;
    padding-top: 0px;
}


section hr{
    margin: 10px 25px;
}

section .item{
    font-family: 'lemon';
    font-weight: bolder;
    font-size: 1em;
    display: inline-block;
    text-align: left;
    width: 58%;
    margin: 10px 25px;
    
}

section .preco{
    display: inline-block;
    text-align: right;
    
    margin: 10px 10px;
    font-family: 'lemon';
    font-weight: bolder;
    margin: 10px 25px;
}

section .preco::before{
    content: 'R$';
}